<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/partial-styles.css">
</head>

<body>
    <div class="topnav">
          <a class="active" href="/" onclick="make(0)">Home</a>
          <a class="active" href="/help" onclick="make(1)">Help</a>
    </div>

    <h2>{{title}}</h2>
</body>

<script src="js/partial.js" defer></script>

