h2 {
    color: red
}

h3 {
    color: white
}

img {
    width: 250px;
    border: 2px solid white;
}

body{
    margin: 0;
    background-color: black;
}

footer {
    bottom: 0px;  
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;  
}