<html>
    <head>
        <title>Dictionary App</title>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        {{>header}}
        <input id="directory" type="text"/>
        <form id="changeDirectory">
            <button>Change</button>
        </form>
        {{>footer}}
        <script src="/js/change-directory.js"></script>
    </body>
</html>